[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"

[dev-packages]
ipython = "*"
mypy = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
typecheck = "mypy ."
stylecheck = "flake8"
test = "py.test"
tests = "py.test"
