<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rabble Rabble Rabble</title>
  <!--
  I never learned how to do anything without bootstrap and jquery :(
  But on the other hand, spec says "make sure it works on a wide range of
  browsers, and this will pull down a whole bunch of shims 😅
  -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <style type="text/css">
    .msg .username, .msg .timestamp {
      color: grey;
      font-size: 0.8em;
    }

    .msg {
      margin-top: 8pt;
    }

    .message-container {
      margin: 8pt;
    }

    .send-form {
      background-color: lightgrey;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="message-container">
        <!-- This is just temporary until we figure out AJAX -->
        {% for msg in messages %}
        <div class="msg">
          <div class="username">{{ msg.username }}</div>
          <div class="content">{{ msg.content }}</div>
          <div class="timestamp">{{ msg.when_created }}</div>
        </div>
        {% endfor %}
      </div>
      <form id="message-input">
        <div class="card send-form">
          <div class="card-body input-group">
            <input type="hidden" value="A Badger" name="username" />
            <input type="text" class="form-control" name="content" placeholder="Rabble rabble rabble..."/>
            <div class="input-group-append">
              <button class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#message-input').submit(function() {
    const form = $(this);
    $.ajax({
      type: 'post',
      // TODO render this URL with jinja / flask
      url: '/api/messages',
      data: form.serialize(),
    });
    // TODO: chain the success and reload messages.
    return false;
  });
</script>
</body>
</html>
